form {
  width:auto; 
  padding: 50px 300px;
}

h1 {
  text-align: center; margin-bottom: 50px;
  font-size: 100px;
  padding-top: 140px;
}

footer {
  bottom: 0px;
  position: fixed;
  left: 50%;
  transform: translate(-50%,0%);
}