
<form>
  <h1><i class="fab fa-github"></i> Search</h1>
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="username" placeholder="Search username or repository">
    <div class="input-group-append">
    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    </div>
  </div>
</form>
<footer>All rights reserved. Github-Search. Developed by Koshin Mohamed</footer>