<form class="jumbotron">
  <h1 style="text-align: center; margin-bottom: 50px;">Github Search</h1>
  <label class="sr-only" for="username">Username</label>
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="username" placeholder="Username">
    <div class="input-group-append">
    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i>Search</button>
    </div>
  </div>
  
</form>
