<div id="logo"> <h1><i class="fab fa-github"></i> Search</h1></div>
<div id="margin">
  <div class="row">
    <div class="col-md-4">
      <app-display-user></app-display-user>
      <button type="button" class="btn btn-warning" routerLink="/landing-page"> Go Back to Search</button>
    </div>
    <div class="col-md-8">
      <app-display-repo></app-display-repo>
    </div>
  </div>
</div>
<footer>All rights reserved. Github-Search was developed by Koshin Mohamed. Powered by Github API.</footer>