h1 {
  text-align: center; margin-bottom: 10px;
  font-size: 100px;
  padding-top: 10px;
  background-color: rgb(238, 204, 10);
}

#margin {
  margin: 0 80px;
}

#logo {
  position: sticky;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(238, 204, 10);
}

p {
  text-align: center;
}
